.tag-suggest-remove {
  float: left;
  display: flex;

  .tag {
    display: flex;
    .tag-label {
      display: flex;
      .tag-value {
        margin-left: 3px;
      }
    }
  }

}

.remove-icon {
  margin-left: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.tag-list {
  //background-color: #ffa85b;
  width: 85%;
  padding-right: 15px;
}

.select-all {
  width: 15%;
  margin-left: -5px;
}

.tag-suggest-remove .badge .tag-label .remove-tag {
  margin-left: 5px;
  opacity: 0.3;
  width: 15px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.tag-remove {
  clear: both;
  display: flex;
  flex-direction: column;
  //padding: 0 10px;
  .btn {
    margin: 15px 0 0 0;
  }
}

.remove-action {
  display: flex;
}

.scope {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.scope-radio-group {
  display: flex;
  flex-direction: row;
}

.scope-radio-button {
  margin: 0 5px;
}


